<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-wrapper reefer-bg" data-widget="main-content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="row page-header" id="stickyHeader">
                    <div class="col-md-4 col-12">
                        <h1 class="m-0">Drewry Users</h1>
                    </div><!-- /.col -->
                    <div class="col-md-8 col-12 text-right">
                    </div><!-- /.col -->
                </div>
            </div>

            <!-- Page Content -->
            <div class="row m-0">
                <div class="col-12">
                    <form class="form-horizontal row">
                        <div class="col-md-6 col-12">
                            <div class="form-group row">
                                <div class="col-md-6 pr-md-2 col-12">
                                    <label class="control-label">User Display Name* </label>
                                    <input type="text" class="form-control custom-form-control" placeholder="" />
                                </div>
                                <div class="col-md-6 pl-md-2 col-12">
                                    <label class="control-label">User Name/Email*</label>
                                    <input type="text" class="form-control custom-form-control" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group row">
                                <div class="col-md-6 pr-md-2 col-12">
                                    <label class="control-label">Password *</label>
                                    <input type="password" class="form-control custom-form-control" placeholder="" />
                                </div>
                                <div class="col-md-6 pr-md-2 col-12">
                                    <label class="control-label">Confirm Password *</label>
                                    <input type="password" class="form-control custom-form-control" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group row">
                                <div class="col-md-6 pr-md-2 col-12">
                                    <div class="form-group">
                                        <label class="control-label">Current Report Access* </label>
                                        <div class="">
                                            <label for="yes" class="tag reefer-tag-bg ml-0"><input type="radio" id="yes"
                                                    name="fav_language" class="float-left mt-2px mr-1">Yes</label>
                                            <label for="no" class="tag reefer-tag-bg"> <input type="radio" id="no"
                                                    name="fav_language" class="float-left mt-2px mr-1" />No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-md-2 col-12">
                                    <label class="control-label">User Type*</label>
                                    <select class="form-control custom-form-control">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-4">
                            <div class="form-group">
                                <button class="btn btn-yellow text-uppercase fw-bold" type="button">Add New</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-12 mt-2">
                    <div class="panel panel-white h-100">
                        <div class="panel-heading">
                            Drewry Users
                        </div>
                        <div class="panel-body table-responsive pt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>User Name</th>
                                        <th>User Display Name</th>
                                        <th>Current Report Access</th>
                                        <th>User Type</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="py-1 lh-28">1.</td>
                                        <td class="py-2 lh-28">aden@drewry.co.uk</td>
                                        <td class="py-2 lh-28">Aden Wong</td>
                                        <td>No</td>
                                        <td>Website User</td>
                                        <td class="text-right lh-28 py-2">
                                            <button class="btn btn-blue btn-sm my-0 px-3"
                                                style="background-color: #97BFE480; color: #132E67">Edit</button>
                                            <button class="btn btn-transparent btn-sm my-0">Delete</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="py-1 lh-28">1.</td>
                                        <td class="py-2 lh-28">aden@drewry.co.uk</td>
                                        <td class="py-2 lh-28">Aden Wong</td>
                                        <td>No</td>
                                        <td>Website User</td>
                                        <td class="text-right lh-28 py-2">
                                            <button class="btn btn-blue btn-sm my-0 px-3"
                                                style="background-color: #97BFE480; color: #132E67">Edit</button>
                                            <button class="btn btn-transparent btn-sm my-0">Delete</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="py-1 lh-28">1.</td>
                                        <td class="py-2 lh-28">aden@drewry.co.uk</td>
                                        <td class="py-2 lh-28">Aden Wong</td>
                                        <td>No</td>
                                        <td>Website User</td>
                                        <td class="text-right lh-28 py-2">
                                            <button class="btn btn-blue btn-sm my-0 px-3"
                                                style="background-color: #97BFE480; color: #132E67">Edit</button>
                                            <button class="btn btn-transparent btn-sm my-0">Delete</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="py-1 lh-28">1.</td>
                                        <td class="py-2 lh-28">aden@drewry.co.uk</td>
                                        <td class="py-2 lh-28">Aden Wong</td>
                                        <td>No</td>
                                        <td>Website User</td>
                                        <td class="text-right lh-28 py-2">
                                            <button class="btn btn-blue btn-sm my-0 px-3"
                                                style="background-color: #97BFE480; color: #132E67">Edit</button>
                                            <button class="btn btn-transparent btn-sm my-0">Delete</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="py-1 lh-28">1.</td>
                                        <td class="py-2 lh-28">aden@drewry.co.uk</td>
                                        <td class="py-2 lh-28">Aden Wong</td>
                                        <td>No</td>
                                        <td>Website User</td>
                                        <td class="text-right lh-28 py-2">
                                            <button class="btn btn-blue btn-sm my-0 px-3"
                                                style="background-color: #97BFE480; color: #132E67">Edit</button>
                                            <button class="btn btn-transparent btn-sm my-0">Delete</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="table-paggination">
                            <div class="page-counter">
                                Showing
                                <select class="">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                                of 34 entries
                            </div>
                            <div class="custom-paggination float-right">
                                <ul>
                                    <li class="disabled"><a class="" href="#"><svg
                                                class="svg-inline--fa fa-angle-left fa-w-8 mr-1 mt-3px"
                                                aria-hidden="true" data-prefix="fa" data-icon="angle-left" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z">
                                                </path>
                                            </svg><!-- <i class="fa fa-angle-left mr-1 mt-3px" aria-hidden="true"></i> --><span
                                                class="float-right">Prev</span></a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><span class="float-left">Next</span> <svg
                                                class="svg-inline--fa fa-angle-right fa-w-8 ml-1 mt-3px"
                                                aria-hidden="true" data-prefix="fa" data-icon="angle-right" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                                                </path>
                                            </svg><!-- <i class="fa fa-angle-right ml-1 mt-3px" aria-hidden="true"></i> --></a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>