.service-view table h3 {
    font-size: 15px;
    margin: 0px;
}
#add_class_box tr td {
    padding: 5px;
}
#add_class_box tr td label {
    margin: 0px;
}
tr.add {
    background: #2bc74c38 !important;
    
}
tr.remove {
    background: #c72b2b38 !important;
}