.manage_trade_route i{
    display: inline-block;
    margin-left: 7px;
    font-size: 15px;
    cursor: pointer;
    color: #545B62;
}

#archiveTradeRouteModal form span{
    font-size: 13px;
    padding-right: 33px;
}

#archiveTradeRouteModal .modal-body .control-label{
    font-weight: bold;
}
#archiveTradeRouteModal .modal-body span {
    font-size: 13px;
    padding-right: 33px;
}
#archiveTradeRouteModal .modal-body .mb-10px {
    margin-bottom: 15px;
}
#archiveTradeRouteModal .modal-body{
    background:#fff;
}