.custom-input-gry {
    background: #e9ecf1!important;
}
.relay-subtotal {
    background: #e9ecf1!important;;
}
.relay-subtotal span{
    font-weight: bold;
    color: #002B5C;
}
tr.relay-subtotal th {
    border: none;
}
.relay-page input[type="text"]:disabled {
    opacity: 0.3 !important;
}