<div class="container vh-100" style="max-width: 1280px">
  <div class="vh-100 row align-items-center">
    <div class="col-md-7 pr-md-0 col-12">
      <div class="login-text">
        <h2 class="heading">Drewry Route Capacity Database</h2>
        <h6>What trades are covered by RCD?</h6>
        <p>
          All direct services for the major East-West, North-South (including
          Middle East, South Asia) trades. Indirect and intra-regional services
          are not included at present.
        </p>
        <h6>What searches can I make?</h6>
        <p>
          By using the QUERY tab users can search for capacity data by the
          following criteria:
        </p>
        <ul>
          <li>Ports</li>
          <li>Countries</li>
          <li>Regions (ie West Africa)</li>
          <li>Vessels</li>
          <li>Operators</li>
          <li>Trade Routes</li>
          <li>Transit times in the Port to Port search function</li>
        </ul>
        <p>
          For further information on our full range of container ocean freight
          and carrier management services, please contact us at
          <a href="mailto: supplychains@drewry.co.uk"
            >supplychains@drewry.co.uk</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-5 col-12">
      <div class="row justify-content-end align-items-center">
        <div class="login-sec-2 d-flex align-items-center">
          <div class="col-12">
            <div class="login-header">
              <img src="../assets/images/dark-blue-logo.png" />
              <!-- <h1 class="text-center">Login Now</h1> -->
            </div>
            <form class="login-form">
              <div class="form-group mb-2">
                <!-- <label for="exampleInputEmail1" class="text-uppercase">Username</label> -->
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email Id"
                />
              </div>
              <div
                class="g-recaptcha my-2"
                style="
                  transform: scale(1.16);
                  -webkit-transform: scale(1.16);
                  transform-origin: 0 0;
                  -webkit-transform-origin: 0 0;
                "
                data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"
              ></div>
              <button
                type="submit"
                class="btn btn-yellow btn-forgot-password w-100"
              >
                Submit
              </button>
              <div class="form-check text-center mt-4">
                <a routerLink="/" class="link float-none">Back to login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-333 f-12" style="position: absolute; bottom: 30px">
    © Copyright 2022 | Drewry Shipping Consultants Limited. All Rights Reserved.
    <a class="link2" href="#">Contact Us</a>
  </div>
</div>
