<app-data-loader *ngIf="loading | async"></app-data-loader>
<div class="content-wrapper reefer-bg" data-widget="main-content">
  <div class="container-fluid">
    <div class="content-header">
      <div class="row page-header" id="stickyHeader">
        <div class="col-md-4 col-12">
          <h1 class="m-0">Manage Country ({{ tabActive }})</h1>
        </div>
        <!-- /.col -->
        <div class="col-md-8 col-12 text-right"></div>
        <!-- /.col -->
      </div>
    </div>
    <!-- Page Content -->
    <div class="row m-0">
      <div class="col-md-12 col-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              (click)="tabChange('Add')"
              class="nav-link active"
              data-toggle="tab"
              href="#addnew"
              role="tab"
              >Add New</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="tabChange('Search')"
              class="nav-link"
              data-toggle="tab"
              href="#search"
              role="tab"
              >Search</a
            >
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="addnew" role="tabpanel">
            <form
              class="form-horizontal row"
              method="post"
              [formGroup]="countryForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="col-md-6 col-12">
                <div class="form-group row">
                  <div class="col-md-6 pr-md-2 col-12">
                    <label class="control-label">Country Name*</label>
                    <input
                      type="text"
                      class="form-control custom-form-control"
                      placeholder=""
                      formControlName="country_name"
                      id="country_name"
                    />
                    <div
                      *ngIf="
                        countryForm
                          ?.get('country_name')
                          ?.hasError('required') &&
                        countryForm?.get('country_name')?.touched
                      "
                    >
                      <span class="error-message"
                        >Country Name is required</span
                      >
                    </div>
                  </div>
                  <div class="col-md-6 pl-md-2 col-12">
                    <label class="control-label">Region Name*</label>
                    <select
                      class="form-control custom-form-control"
                      formControlName="routing"
                      id="routing"
                    >
                      <option value="">Select</option>
                      <option
                        *ngFor="let region of regionList"
                        [value]="region.region_id"
                      >
                        {{ region.region_name }}
                      </option>
                    </select>
                    <div
                      *ngIf="
                        countryForm?.get('routing')?.hasError('required') &&
                        countryForm?.get('routing')?.touched
                      "
                    >
                      <span class="error-message">Region Name is required</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <div class="form-group">
                  <button
                    class="btn btn-yellow text-uppercase fw-bold mr-2"
                    type="submit"
                  >
                    Add New
                  </button>
                  <button
                    class="btn btn-yellow text-uppercase fw-bold"
                    (click)="resetForm()"
                    type="button"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="search" role="tabpanel">
            <form
              class="form-horizontal row"
              method="post"
              [formGroup]="countrySearchForm"
              (ngSubmit)="onSearch()"
            >
              <div class="col-md-6 col-12">
                <div class="form-group row">
                  <div class="col-md-6 pr-md-2 col-12">
                    <label class="control-label">Country Name</label>
                    <input
                      type="text"
                      class="form-control custom-form-control"
                      placeholder=""
                      formControlName="country_name"
                      id="country_name"
                    />
                  </div>
                  <div class="col-md-6 pl-md-2 col-12">
                    <label class="control-label">Region Name</label>
                    <select
                      class="form-control custom-form-control"
                      formControlName="routing"
                      id="routing"
                    >
                      <option value="">Select</option>
                      <option
                        *ngFor="let region of regionList"
                        [value]="region.region_id"
                      >
                        {{ region.region_name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <div class="form-group">
                  <button
                    class="btn btn-yellow text-uppercase fw-bold mr-2"
                    type="submit"
                    [disabled]="countrySearchForm.invalid"
                  >
                    Search
                  </button>
                  <button
                    class="btn btn-yellow text-uppercase fw-bold"
                    (click)="resetSearchForm()"
                    type="button"
                  >
                    Reset
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="panel panel-white h-100">
          <div class="panel-heading">Country List</div>
          <div class="panel-body table-responsive pt-3">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th (click)="sortData('country_name')">
                    Country Name
                    <i
                      class="fas fa-sort"
                      [ngClass]="{
                        'fa-sort-up':
                          sortedColumn === 'country_name' &&
                          sortDirection === 'asc',
                        'fa-sort-down':
                          sortedColumn === 'country_name' &&
                          sortDirection === 'desc'
                      }"
                    ></i>
                  </th>
                  <th (click)="sortData('region_name')">
                    Region
                    <i
                      class="fas fa-sort"
                      [ngClass]="{
                        'fa-sort-up':
                          sortedColumn === 'region_name' &&
                          sortDirection === 'asc',
                        'fa-sort-down':
                          sortedColumn === 'region_name' &&
                          sortDirection === 'desc'
                      }"
                    ></i>
                  </th>
                  <th class="text-right">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let country of countryList; let index = index">
                  <td class="py-1 lh-28">{{ index + fromStart.from }}.</td>
                  <td class="py-2 lh-28">{{ country.country_name }}</td>
                  <td class="py-2 lh-28">{{ country.region.region_name }}</td>
                  <td class="text-right lh-28 py-2">
                    <button
                      (click)="editSelect(country.country_id)"
                      class="btn btn-blue btn-sm my-0 px-3"
                      style="background-color: #97bfe480; color: #132e67"
                    >
                      Edit
                    </button>
                    <button
                      (click)="
                        deleteData(country.country_id, country.country_name)
                      "
                      class="btn btn-transparent btn-sm my-0"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
                <tr *ngIf="countryList && countryList.length === 0">
                  <td colspan="4"><strong>No records found</strong></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-paggination">
            <div class="page-counter">
              Showing
              <select
                class=""
                [(ngModel)]="per_page"
                (change)="onPerPageChange($event)"
              >
                <option
                  *ngFor="let value of getPerPageCount"
                  [value]="value"
                >
                  {{ value }}
                </option>
              </select>
              of {{ total }} entries
            </div>
            <div class="custom-paggination float-right">
              <ul>
                <li *ngFor="let pagination of pagination; let index = index">
                  <ng-container
                    *ngIf="pagination.label !== '...'; else emptyLabel"
                  >
                    <a
                      [innerHTML]="pagination.label"
                      [ngClass]="{
                        active: pagination.label == fromStart.current_page,
                        disabled: pagination.url == null
                      }"
                      (click)="changePagination(pagination.url)"
                    ></a>
                  </ng-container>
                  <ng-template #emptyLabel>
                    <a>{{ pagination.label }}</a>
                  </ng-template>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<div
  id="myModal"
  class="modal fade editModal"
  tabindex="-1"
  role="dialog"
  data-backdrop="static"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Country</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="form-horizontal row"
          method="post"
          [formGroup]="countryForm"
          (ngSubmit)="onUpdate()"
          *ngIf="editListData && editListData.length > 0"
        >
          <div class="col-md-12 col-12" *ngFor="let editList of editListData">
            <div class="form-group row">
              <div class="col-md-6 col-12">
                <label class="control-label">Country Name*</label>
                <input
                  type="hidden"
                  formControlName="id"
                  [(ngModel)]="editList.country_id"
                />
                <input
                  type="text"
                  class="form-control custom-form-control"
                  placeholder=""
                  formControlName="country_name"
                  id="country_name"
                  [(ngModel)]="editList.country_name"
                />
                <div
                  *ngIf="
                    countryForm?.get('country_name')?.hasError('required') &&
                    countryForm?.get('country_name')?.touched
                  "
                >
                  <span class="error-message">Country Name is required</span>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <label class="control-label">Region Name*</label>
                <select
                  class="form-control custom-form-control"
                  formControlName="routing"
                  id="routing"
                  [(ngModel)]="editList.country_region"
                >
                  <option value="">Select</option>
                  <option
                    *ngFor="let region of regionList"
                    [value]="region.region_id"
                  >
                    {{ region.region_name }}
                  </option>
                </select>
                <div
                  *ngIf="
                    countryForm?.get('routing')?.hasError('required') &&
                    countryForm?.get('routing')?.touched
                  "
                >
                  <span class="error-message">Region Name is required</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-4">
            <div class="form-group">
              <button
                class="btn btn-yellow text-uppercase fw-bold mr-2"
                type="submit"
                [disabled]="countryForm.invalid"
              >
                Save
              </button>
              <button
                class="btn btn-yellow text-uppercase fw-bold"
                (click)="closeModal()"
                type="button"
              >
                Close
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
